<link rel="stylesheet" href="/css/style.css">
<ons-page id="livechat">

    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar"  style="width:100%;">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right"  style="width:100%;">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container">
            <img src="/assets/img/chat.jpg" alt="Avatar"  style="width:100%;">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>
    </ons-list-item>

    <ons-list-item>
        <div class="container darker">
            <img src="/assets/img/chat2.jpg" alt="Avatar" class="right"  style="width:100%;">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>
    </ons-list-item>
    
</ons-page>